
h1 {
    color: #4E443C;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

h2, h2 a {
    color: #F14E32;
}

h3, h3 a {
  color: #0388A6;
}

a {
  text-decoration: none;
  color: #0388A6;
}

pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}
li{
  list-style: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 620px;
    padding: 0 20px 40px 20px;
}
.menu{
  background: #b9e2d5;
  border-radius: 15px;
  color: #6da9cd;
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 83px;
  display: block;;
}
.menu__li{
  height: 35px;
  padding-top: 15px;
  position: relative;
  margin-left: 50px;
  display: inline-block;
}
.menu__sub{
    background: #8bd1e6;
    display: none;
    position: absolute;
    padding: 0 10px 10px 10px;
    top: 50px;
    opacity: 0.5;;
}
.menu__fruts,
.menu__veg,
.menu__prod,
.menu__other{
  margin-bottom: 10px;
}
.menu__sub .menu__link{
  text-decoration: none;
  color: #fff;
}
.menu__secon-sub{
  display: none;
}

.cb-enable, 
.cb-disable, 
.cb-enable span, 
.cb-disable span {
 background: url(../img/switch.gif) repeat-x; 
 display: block; float: left; 
}
.cb-enable span, 
.cb-disable span { line-height: 30px; 
  display: block;
   background-repeat: no-repeat;
   font-weight: bold; 
 }
.cb-enable span { 
  background-position: left -90px;
 padding: 0 10px; 
}
.cb-disable span { 
  background-position: right -180px;
  padding: 0 10px; 
}
.cb-disable.selected {
 background-position: 0 -30px; }
.cb-disable.selected span { 
  background-position: right -210px; 
  color: #fff; 
}
.cb-enable.selected { 
  background-position: 0 -60px; 
}
.cb-enable.selected span { 
  background-position: left -150px; 
  color: #fff; 
}
.switch label { 
  cursor: pointer; 
}
.switch input { 
  display: none;
   }




